.bodyd{background-repeat: no-repeat;width: 100% !important; height: 100% !important; position: relative;background-position: center !important}/*background: url(/imgs/DSC01058.JPG); */

.Homebanner{width:100%;height:100%;position:relative;overflow:hidden;z-index: -1; top: 0;}
.Homebanner ul{width:100%;height:100%;position:absolute;}
.Homebanner ul li{width:100%;height:100%;position:absolute;overflow:hidden;text-decoration: none;left: 0}
.bannerbox:hover .Homeleft{left:0px;opacity:1}
.bannerbox:hover .Homeright{right:0px;opacity:1}


.bannereffect{opacity:0;filter:alpha(opacity=0);}
.copyright{width: 100%;position: absolute; z-index: 60;bottom: 0}

.tips{position: absolute;min-width: 260px; bottom: 85px;z-index: 10;text-align: left;overflow: hidden;background-image: url(../image/bg-opacity1.png);}
.tips h2 {padding-top: 50px; color: white; font-weight: 900; font-size: 62px}
.tips p {color: white;font-weight: 500;font-size: 20px;}
.footer-box{background: url(../image/bg-lighter.png);color: white;border-radius: 10px;}	
.footer-box a{color: white}	
.font-index{font-size: 48px;font-weight: 900}